
body{
	background-color: #F2F2F2;
	
}

header img{
	margin-top: 10%;
	float: left;
	width: 20%;
}

header article {
	    margin-top: 10%;
	width: 70%;
	
	float: right;
}

.container{
	background-color: #FFFFFF;
	height: 1500px;
}


.figure{
	width: 300px;
	height: auto;
}



.navbar{
	background-color: #E06767;
}













// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
